 body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.inner-page {
  min-width: 1200px;
  background-color: #849d8f;
}
.page {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.page-2 {
  width: 1200px;
  margin: 0 auto;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/fon-2.png");
}

.site-wrapper::after {
  background-image: url("../img/fon-3.png");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

/*Красные кнопки*/
.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Ссылки*/

.link {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.link:hover,
.link:focus,
.link:active  {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}

/*Поля форм*/
.field {
  border: solid 1px rgba(178, 178, 178, 0.52);
}
.field:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}

/*Слайдер*/
.slider {
  position: relative;
  text-align: center;
  color: #ffffff;
  text-align: center;
  margin-bottom: 42px;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.slide .button {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;

  font-weight: 600;
  font-size: 31px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}
.slide .button:hover,
 .slide .button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide .button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;

  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
  margin-right: auto;
}
.slide {
  display: none;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/fon-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/fon-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/fon-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}


/*Хэдэр*/
.main-header {
  display: flex;
  flex-direction: column;
  width: 1146px;
  margin: 0 auto;
}
.main-header img {
  width: 154px;
  height: 64px;
}
.site-wrapper .main-header {
  margin-bottom: 275px;
}
.inner-page .main-header {
  margin-bottom: 10px;
}
.main-navigation {
  display: flex;
  padding: 0;
  margin: 0;
}
.site-navigation,
.catalog-box,
.additional-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logo {
  height: 64px;
  margin-right: auto;
  padding-top: 9px;
}

.site-navigation {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 586px;
  margin-right: 100px;
  padding-top: 23px;
}
.additional-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 450px;
  padding-top: 23px;
}
.main-navigation a {
  display: block;
  vertical-align: middle;
}
.main-navigation p {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
}
.logo a {
  list-style: none;
  padding: 0;
  margin: 0;
}
.additional-navigation a {
  display: block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-left: 10px;
  padding-right: 17px;
  padding-left: 43px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.additional-navigation .basket-red {
  color: #000000;
  background: #f7f6f3;
}
.additional-navigation .login-link {
  position: relative;
}
.login-link svg {
  position: absolute;
  left: 16px;
  top: 6px;
  width: 21px;
  height: 19px;
}
.additional-navigation .basket-red,
.additional-navigation .basket {
  position: relative;
}
.basket svg,
.basket-red svg {
  position: absolute;
  left: 16px;
  top: 6px;
  width: 21px;
  height: 20px;
}
.additional-navigation .loupe {
  position: relative;
  width: 17px;
  height: 16px;
  padding: 8px;
}
.loupe svg {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 17px;
  height: 17px;
}
.login-link:hover,
.login-link:focus,
.basket:hover,
.basket:focus,
.loupe:hover,
.loupe:focus {
  background-color: #ffffff;
}

.login-link:hover path,
.login-link:focus path,
.basket:hover path,
.basket:hover circle,
.basket:focus circle,
.loupe:hover path,
.loupe:focus path {
  fill: #000000;
}

.site-navigation-current {
  background-color: #d07058;
  color: #ffffff;
  padding-top: 7px;
}
.site-navigation-catalog {
  padding-bottom: 7px;
  padding-right: 13px;
  padding-left: 16px;
  border-radius: 20px;
}
.site-navigation-item {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 6px;
  padding-left: 9px;
  border-radius: 20px;
}
.site-navigation-item:first-child {
  margin-left: 13px;
}
.site-navigation a:hover,
.site-navigation a:focus,
.additional-navigation a:hover,
.additional-navigation a:focus {
  background-color: rgb(247, 246, 243);
  color:#323232;
  text-decoration: none;
}

.site-navigation a:active,
.additional-navigation a:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0 rgb(105, 105, 105);
}
.catalog-box {
  position: absolute;
  top: 58px;
  left: 0;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding-bottom: 11px;
  border-radius: 5px;
  display: none;
}
.site-navigation > li:hover .catalog-box {
  display: block;
}

.catalog-box a {
  list-style: none;
  margin: 0;
  padding: 7px 20px;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.catalog-box svg {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 45px;
}
.catalog-box .catalog-new {
  margin-top: 6px;
  font-weight: 700;
  margin-bottom: 15px;
}

.catalog-box a:hover,
.catalog-box a:focus {
  background-color: #fbded7;
}
 .catalog-box a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}
.header-working-hours,
.working-hours {
  margin: 0;
  padding: 0;
  margin-left: auto;
}
.working-hours {
  margin: 0;
  padding: 0;
  font-size: 14.3px;
  line-height: 15px;
  font-weight: 400;
  text-align: right;
    margin-bottom: 5px;
}
.phone-number {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}
/*Страница каталога.
Нижняя часть хэдэра*/
.working-hours-and-way {
  display: flex;
  justify-content: space-between;
}
.way {
  display: flex;
  width: 223px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: auto;
}
.way {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.way a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


/*Контейнер*/

.container {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.inner-page .container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.page-title {
  margin: 0;
  padding: 0;
}


/*Специальные предложения*/
.special-offers {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 35px;

}
.special-offers-one {
  width: 560px;
  box-sizing: border-box;
  color: #ffffff;
  background-image: url("../img/fon-raspberry.jpg");
  border-radius: 15px;
  background-color: #7f0715;
  background-repeat: no-repeat;
  padding-left: 19px;
  padding-right: 21px;
}
.special-offers-two {
  width: 560px;
  box-sizing: border-box;
  background-color: #48342e;
  background-image: url("../img/fon-chocolate.jpg");
  border-radius: 15px;
  background-repeat: no-repeat;
  padding-left: 19px;
  padding-right: 21px;
}
.special-offers h3 {
  font-size: 34.8px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin: 0;
  padding: 0;
  padding-top: 16px;
}
.special-offers p {
  font-size: 17.4px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 45px;
}
.special-offers .button {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-shadow: none;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 21px;
  padding-right: 22px;
  margin-bottom: 23px;
}
.special-offers-one .button {
  width: 165px;
  box-sizing: border-box;
  margin-left: auto;
  padding-left: 22px;
}
.special-offers-two .button {
  width: 189px;
  box-sizing: border-box;
  margin-left: auto;
  margin-bottom: 23px;
}

/*Хиты, Каталог*/
.hits {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.catalog {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}
.hits-list,
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-item {
  position: relative;
  min-height: 303px;
  width: 267px;
  margin-bottom: 40px;
}
.catalog-item div {
  position: absolute;
  width: 267px;
  left: -13px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 6px;
}
.catalog-item-contener div {
  position: absolute;
  top: 209px;
  left: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.catalog-item .kg::before {
  content: "";

  position: absolute;
  left: 94px;
  top: 12px;


  width: 31px;
  height: 46px;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.catalog-item .kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  padding-left: 35px;
}
.catalog-item p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.catalog-item a {
  font-size: 16.1px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.dashed {
  background-image: linear-gradient(to right, blue 75%, transparent 75%);
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 3px;
}

.catalog-item-contener img {
  object-fit: contain;
  border-radius: 135px;
  margin-bottom: 8px;
}
.catalog-item-contener .button {
  display: none;
  margin: 16px 12px;
  padding: 12px 10px;
}
.catalog-item-contener:hover .button,
.catalog-item-contener:focus .button {
  display: block;
}
.catalog-item-contener:hover,
.catalog-item-contener:focus {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

/*Преимущества*/
.features {
  width: 1146px;
  box-sizing: border-box;
  color: #323232;
  background-image: url("../img/waffle.jpg");
  background-color: #f5deb3;
  background-position: auto;
  background-repeat: repeat;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
}
.features>p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-list ul {
  width: 540px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.feature-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feature-item p {
  position: relative;
  font-size: 16.4px;
  line-height: 22.5px;
  font-weight: 400;
  letter-spacing: -0.01em;
  padding-left: 56px;
  margin: 0;
  padding-top: 20px;
}
.feature-item:last-child p {
  padding-bottom: 25px;
}
.feature-item-one p::after {
  content: "";

  position: absolute;
  left: -1px;
  top: 7px;


  width: 49px;
  height: 49px;

  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.feature-item-two p::after {
  content: "";

  position: absolute;
  left: 0px;
  top: 10px;


  width: 49px;
  height: 49px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.feature-item-two p::after {
  content: "";

  position: absolute;
  left: 0px;
  top: 10px;


  width: 49px;
  height: 49px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.feature-item-three p::after {
  content: "";

  position: absolute;
  left: 0px;
  top: 10px;


  width: 49px;
  height: 49px;

  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.feature-item-four p::after {
  content: "";

  position: absolute;
  left: 0px;
  top: 10px;


  width: 49px;
  height: 49px;

  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

/*Новое в нашем блоге*/
.new-and-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.new-in-blog {
  width: 560px;
  box-sizing: border-box;
  color: #323232;
  background-image: url("../img/fon-strawberry.jpg");
  background-color: #ffffff;
  background-position: auto;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 255px;
  padding-bottom: 83px;
  border-radius: 20px;
}
.new-in-blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(50, 50, 50);
  border-bottom: 2px solid rgb(50, 50, 50);
}
.new-in-blog a:hover,
.new-in-blog a:focus,
.new-in-blog a:active {
  color: rgb(232, 77, 55);
  border-bottom: 2px solid rgb(232, 77, 55);
}
.new-in-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}


/*Рассылка*/
.mailing-form {
  width: 560px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  background-image: url("../img/post-background.png");
  padding: 4px;
  border-radius: 13px;
}
.mailing-form form {
  display: flex;
  justify-content: space-between;
}
.mailing-form > div {
  background-color: #f8f7f4;
  padding: 31px 21px;
  border-radius: 13px;
}
.mailing-form p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}
.email-mailing-form {
  display: block;
  float: left;
  width: 368px;
  vertical-align: middle;
}
.button-mailing-form {
  display: block;
vertical-align: middle;
  float: right;
}

.button-mailing-form .button {
  box-sizing: border-box;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  padding: 0;
  padding: 10px 17px;
}
.email-mailing-form input {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
}
/*Адрес, карта*/
.map {
  position: relative;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 17px;
  width: 1200px;
}
.adress {
  position: absolute;
  bottom: 65px;
  right: 25px;
  width: 302px;
  min-height: 304px;
  background-color: #ffffff;
  color: #323232;
}
.adress img {
  width: 100%;
  height: auto;
}
.adress p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding-left: 24px;
  padding-top: 33px;
  padding-bottom: 28px;
}
.adress span:first-of-type {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.adress span:last-of-type {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.adress .button {
  display: inline-block;
  text-align: center;
  margin-left: 23px;
  padding: 10px 27px;
}
.map::after {
  content: "";

  position: absolute;
  left: 266px;
  top: 139px;


  width: 80px;
  height: 140px;

  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

/*Футер*/
.main-footer {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 22px;
  padding-top: 0;
}
.inner-page .main-footer {
  padding: 0;
  padding-bottom: 22px;
  padding-top: 16px;
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 220px;
  padding-right: 130px;
  padding-top: 18px;
}
.footer-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-navigation li {
  padding-bottom: 7px;
}

.social-buttons {
  display: flex;
  padding: 0;
  padding-top: 21px;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.8;
}

.footer-navigation,
.social-buttons {
  list-style: none;
}
.social-buttons {
  margin: 0;
}
.social-buttons li {
  margin-right: 13px;
  width: 32px;
  height: 32px;
}
.copyright {
  margin-left: auto;
}
.footer-copyright {
  padding: 0;
  margin: 0;
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}


/*Поиск*/
.serch {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: #f8f7f4;
}


/*Форма обратной связи*/
.feedback-form {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: #f8f7f4;
}
.feedback-form p {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.feedback-form .button {
  border: none;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}


/*Форма входа*/
.login-form {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.login-form a {
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}
.login-form a:hover,
.login-form a:focus,
.login-form a:active {
  color: rgb(232, 77, 55);
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}



/*Фильтры*/
.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.filters {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 41px;
}
.fat label,
.additive label,
.filter-range-title,
.sort label,
legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.fat,
.additive,
.sort select {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.filters-1-line {
  display: flex;
  position: relative;
  width: 860px;
  justify-content: space-between;
  margin-bottom: 15px;
}
.sort {
  width: 194px;
  position: relative;
  line-height: 0;
}
select::-ms-expand {
  display: none;
}
.sort select {
  width: 194px;
  box-sizing: border-box;
  border: none;
 -ms-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  padding-top: 8px;
  padding-left: 13px;
  padding-bottom: 8px;
  padding-right: 50px;
  margin-top: 5px;
  border-radius: 20px;

  cursor: pointer;
}
.sort label {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 16px;
}
.sort svg {
  position: absolute;
  top: 38px;
  left: 170px;

  width: 9px;
  height: 5px;
}

.sort:hover path,
.sort:focus path {
  fill: #000000;
}
.sort select:hover {
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.2);
}
.sort select:focus {
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
}


.filter-range-box {
  width: 220px;
  box-sizing: border-box;
  padding: 4px 22px;
  margin-top: 6px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.filter-range-title {
  margin-bottom: 5px;
  padding-left: 13px;
}
.range-controls {
  position: relative;
  margin-bottom: 11px;
  margin-top: 11px;
}
.range-controls .scale {
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  position: relative;
  width: 50%;
  height: 4px;
  background: #ffffff;
  opacity: 0.8;
  left: 30px;
}
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.range-toggle:hover {
  transform: scale(1.1);
}
.range-toggle-min {
  left: 10%;
}
.range-toggle-max {
  left: 60%;
}


.filters-1-line fieldset{
  width: 415px;
  padding: 0;
  margin: 0;
  border: none;
}
.fat {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 17px;
  padding-left: 11px;
  margin: 0;
  margin-top: 5px;
  line-height: 10px;
  border-radius: 20px;
}
.fat li {
  position: relative;
  display: block;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 36px;
}
.fat-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;

  width: 25px;
  height: 25px;
  transform: scale(0.88);

  background-image: url("../img/radio-off.svg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.fat-input-radio:checked + label::after {
 content: "";

  position: absolute;
  top: 5px;
  left: 0;

  width: 25px;
  height: 25px;
  transform: scale(0.88);

  background-image: url("../img/radio-on.svg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.fat-input-radio:checked + label:hover::after,
.fat-input-radio + label:hover::before {
  opacity: 1;
}


.filters-2-line {
  display: flex;
  width: 862px;
  justify-content: space-between;
}
.filters-2-line fieldset {
  padding: 0;
  margin: 0;
  border: none;
  padding-bottom: 10px;
}
.filters-2-line .additive {
  display: flex;
  justify-content: space-between;
  width: 668px;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 20px;
  padding-left: 16px;
  border-radius: 20px;
  margin-top: 9px;
}
.additive li {
  position: relative;
  display: block;
  cursor: pointer;
  padding-bottom: 9px;
  padding-top: 9px;
  padding-left: 31px;
}
fieldset legend {
  margin-left: 16px;
}
.additive-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;

  width: 25px;
  height: 25px;
  transform: scale(0.8);

  background-image: url("../img/checkbox-off.svg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.additive-input-checkbox:checked + label::after {
 content: "";

  position: absolute;
  left: 0px;
  top: 7px;

  width: 25px;
  height: 25px;
  transform: scale(0.8);

  background-image: url("../img/checkbox-on.svg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.additive-input-checkbox:checked + label:hover::after,
.additive-input-checkbox + label:hover::before {
  opacity: 1;
}


.filters-button {
  width: 146px;
}
.filters-button {
  background-color: #849d8f;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border: 2px solid;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.filters-button:hover,
.filters-button:focus {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}
.filters-button:active {
  border: none;
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0 rgb(105, 105, 105);
  color: rgb(50, 50, 50);
}


/*Нумерация стр*/
.pagination {
  display: flex;
  margin-bottom: 29px;
}
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-left: auto;
}
.pagination-item a {
  color: rgb(255, 255, 255);
  padding: 1px 6px;
  border-radius: 20px;
}
.pagination-item span {
  margin: 0;
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
  padding: 1px 6px;
  border-radius: 20px;
}
.pagination-item {
  margin-left: 8px;
}
.number-page a:hover,
.number-page a:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
}
.number-page a:active {
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
}

.disabled {
  transform: rotate(180deg);
  opacity: 0.4;
  margin-right: 11px;
}

/*Корзина*/
.basket-form {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: #323232;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
